.projectList {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
}

.picture {
  --margin: calc(var(--length-y) / 2);
  width: calc(var(--length-x) * 4);
  height: calc(var(--length-y) * 2 - var(--margin) * 2);
  margin-block: var(--margin);
}
