@import url("@nonphoto/css") layer(reset);

@font-face {
  font-family: "Authentic Sans Condensed";
  font-weight: 300;
  src: url("/fonts/AUTHENTICSans-Condensed-60.woff2") format("woff2");
}

@font-face {
  font-family: "Authentic Sans";
  font-weight: 400;
  src: url("/fonts/AUTHENTICSans-90.woff2") format("woff2");
}
